

/* allcustom css */
div {
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  height: 100vh;
}

.mobile-nav {
  background-color: #c6d0be;
  height: 50px;
}

.burger-menu,
.logo,
.search {
  height: 45px;
  float:left;
  width: 20%;
  height: 100%;
}

.burger-menu {
  text-align: center;
  padding-top: 15px;
}

.logo {
  width: 60%;
  vertical-align: top;
  text-align: center;
  padding-top: 15px;
}

.search {
text-align: center;
padding-top: 15px;
}


/* daily section starts */

.daily-section {
  background-color: #1A2563;
  height: 30vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.current-city {
  text-transform: uppercase;
  color: #E3E1DC;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-left: 25px;
  border: none;
}

.weather-image,
.weather-info {
  height: 83%;
  width:50%;
  float: left;
  position: relative;
  /* border: none; */
}

.wi-day-sunny {
  position: absolute;
  color: #E3BB3B;
  font-size: 120px;
  left: 13%;
  top: 15%;
}

.temperature,
.line-two,
.line-three {
  color: #E3E1DC;
  padding-top: 10px;
  height: 33.3%;
  border: none;
}

.temperature {
  color: #E3E1DC;
  font-size: 60px;
  padding-top: 20px;
  padding-left: 14px;
}

.line-two,
.line-three {
  height: 20%;
  padding-left: 14px;
  font-size: 15px;
  padding-top: 35px;

}

/* daily section ends */

/* map section starts */

.map-section {
  background-color: yellow;
  height: 25vh;
  margin: 8px;
  position: relative;
}

.map {
  height: 80%;
  background-color: #e8c327;
}

.map-title,
.expand {
  float:left;
  position: absolute;
  height: 20%;
  width: 80%;
}

.map-title {
  width: 80%;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-top: 12px;

}

.expand {
  width: 20%;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 12px;
}


.favourite-section {
  background-color: purple;
  height: 25vh;
  margin: 8px;
}

.footer-section {
  background-color: orange;
  height: 9.3vh;
}

.left-section,
.middle-section,
.right-section {
  float: left;
  width: 33.3%;
  height: 100%;
}


/* media query begin */

/* this applies to mobilephones */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){

  .daily-section {
    /* background-color: red; */
  }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .daily-section {
    /* background-color: blue; */
  }

  .temperature {
    float: left;
    font-size: 150px;
    padding-right: 50px;
  }

  .current-city {
    font-size: 20px;
    padding-left: 40px;
  }

  .weather-image {
    width: 40%;
  }
  .weather-info{
    width: 60%;
  }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .daily-section {
    /* background-color: green; */
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .daily-section{
    /* background-color: yellow; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .daily-section {
    /* background-color: pink; */
  }
}
